:root {
  --brown: #6d4c41;
  --gray: #757575;
  --white: #748770;
  --black: #212121;
}

/* Global styles */
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--white);
}

a {
  color: var(--grey);
  text-decoration: none;
}

/* Header styles */
header {
  background-color: var(--brown);
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--black);
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
