{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html>
<head>
        <title>Oskar Torgersrud</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
</head>
<body>
        <div>
        <header>
                <h1>Oskar Torgersrud</h1>
                <nav>
                        <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                        </ul>
                </nav>
        </header>

        <main>
          <h2>About this page</h2>

          <p>Yes i made the frontend with chatGPT sue me.</p>
          <img src="{% static 'lex.jpg' %}">
                
        </main>

        <footer>
                <p>&copy; 2023 My Website. All rights reserved.</p>
        </footer>
</div>
</body>
</html>

